In [140]:
import os

In [141]:
stop = "i me my myself we our ours ourselves you your yours yourself yourselves he him his himself she her hers herself it its itself they them their theirs themselves what which who whom this that these those am is are was were be been being have has had having do does did doing a an the and but if or because as until while of at by for with about against between into through during before after above below to from up down in out off over under again further then once here there when where why how all any both each few more most other some such no nor not only own same so than too very s t can will just don should now"

In [142]:
stop_words = stop.split(" ")

In [143]:
emails = "/home/himanshu/TextClassification DATASET/emails/ham/"

In [144]:
files =  os.listdir(emails)

In [166]:
dicte = []

In [167]:
for f in files:
       file = open(emails + f)
       words = file.read()     
       word = words.split(" ")
        
       dicte.extend(word)

In [168]:
len(dicte)

762381

In [169]:
final_dict = [x for x in dicte if x not in stop_words]

In [170]:
final_dict = [x for x in final_dict if  x.isalnum()]

In [171]:
len(final_dict)

323412

In [172]:
y = ["ham","spam"]

In [173]:
emailss = "/home/himanshu/TextClassification DATASET/emails/spam/"

In [174]:
filess =  os.listdir(emailss)

In [175]:
dictt =[]

In [176]:
for f in filess:
       with open(emailss + f,encoding='utf-8') as file:
           try:
               words = file.read() 
           
               word = words.split(" ")
       
               dictt.extend(word)
           except:
                continue

In [177]:
len(dictt)

314107

In [178]:
final_dictt = [x for x in dictt if x not in stop_words]

In [179]:
final_dictt = [x for x in final_dictt if  x.isalnum()]

In [180]:
len(final_dictt)

159770

In [181]:
toll  = final_dict + final_dictt

In [182]:
len(toll)

483182

In [183]:
total_dict = set(toll)
len(total_dict)

43969

In [187]:
omford = {e:0 for e in total_dict}

In [185]:
oxford = {e:0 for e in total_dict}

In [186]:

for s in final_dict:
    oxford[s] += 1

In [189]:
l1 = [oxford[e] for e in oxford]

In [188]:
for s in final_dictt:
    omford[s] +=1

In [190]:
l2 = [omford[e] for e in omford]

l2 = [omford[e] for e in omford]

In [85]:
from sklearn.naive_bayes import MultinomialNB as NB

In [99]:
clf = NB()

In [191]:
Dictionary = [[x for x in l1],[y for y in l2]]
import pandas as pd

In [192]:
Dictionary = pd.DataFrame(Dictionary)
Dictionary

,0,1,2,3,4,5,6,7,8,9,...,43959,43960,43961,43962,43963,43964,43965,43966,43967,43968
0,1,0,0,0,0,1,0,1,1,0,...,0,0,2,0,0,0,0,8,0,0
1,0,5,2,1,1,0,1,1,0,1,...,1,4,0,1,1,1,1,0,3,2

In [240]:
Dictionary.shape

(2, 43969)

In [243]:
w=Dictionary.T

In [244]:
y = pd.DataFrame([0,1])
s=y.T

In [349]:
## taking input of a sample mail seperatly for testing

In [246]:
clf.fit(Dictionary,y)

/home/himanshu/anaconda3/lib/python3.6/site-packages/sklearn/utils/validation.py:578: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [313]:
y="Subject: dobmeos with hgh my energy level has gone up ! stukmintroducing doctor - formulated hgh human growth hormone - also called hgh is referred to in medical science as the master hormone . it is very plentiful when we are young , but near the age of twenty - one our bodies begin to produce less of it by the time we are forty nearly everyone is deficient in hgh and at eighty our production has normally diminished at least 90 95 advantages of hgh increased muscle strength loss in body fat increased bone density lower blood pressure quickens wound healing reduces cellulite improved vision wrinkle disappearance increased skin thickness texture increased energy level improved sleep and emotional stability improved memory and mental alertness increased sexual potency resistance to common illness strengthened heart muscle controlled cholesterol controlled mood swings new hair growth and color restore read more at this website unsubscribe"

In [350]:
x1 ="It’s no secret: technical skills are changing the workplace. This was the founding premise for Codecademy, and our mission has always been to give you the knowledge you need to get ahead. In 2012 that meant teaching programming to an audience who wanted to become software engineers. Today, things have changed, and you’ve probably felt it. In a world where automation is expected to displace millions of jobs, the question isn’t “will you learn to code,” it’s when. Our research shows that technical skills aren’t just for the engineers anymore. They’re for the marketers, designers, analysts and entrepreneurs, and more. In the future of work, everyone will have to learn to code. We’re here to help. Explore Your Career + Code, our interactive experience that shows you exactly how to develop your career with code. Take our quiz to learn more about the technical revolution, and then discover how you can get started and level up your career. Explore Your Career + Code"

In [351]:
x ="go and do my job by friday i want my work to be done and it must be complete"

In [352]:
def convert(total_dict,x):
    om = {e:0 for e in total_dict}
    x_word = x.split(" ")
    
    for c in x_word:
        if c in om and c.isalnum():
            om[c] +=1
            
    l = [om[c] for c in om]
    return l

In [353]:
lx = convert(total_dict,x)

In [354]:
lx= pd.DataFrame(lx)

In [355]:
lx.max()

0    1
dtype: int64

In [356]:
k=lx.T

In [357]:
y1 = clf.predict(k)

In [358]:
y1

array([0])